{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <h2>Experimento com Spot Nano</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div>
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}

        <br>

        <button type="submit" class="save btn btn-default">Executar</button>

    </form>
{% endblock %}

{% block sidebar %}
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'BancadaIA:spotnano_experimentos_new' %}">Novo Experimento</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'BancadaIA:spotnano_experimentos_lista' %}">Lista de Experimentos</a>
</nav>
{% endblock%}S




